<li>
	<a href="http://www.twitter.com/<%=tweet.user.twitter_id%>">
    <img src='<%= image_url_of(tweet.user) %>' style="width:48px; height:48px;">
  </a>
  <p style="min-height:100px;">
    <a href="http://www.twitter.com/<%=tweet.user.twitter_id%>"><%= tweet.user.twitter_id %></a> 
    <%= tweet.text %>
    <br /><small>twittado em <%= tweet.date.strftime('%d/%m/%Y %H:%M') %></small>
  </p>
</li>
