<html>
	<body>
		<% @tags.each do |tag| %>
			Tag: <%= tag.name %> <br />

			Tweets: 
			<ul>
			<% @tweets[tag.name].each do |t| %>					
				<li>
					<img src='<%=t.image_url %>' width='48' height='48'/><%= t.user %> -- <%= t.text %>
				</li>
			<% end%>
			</ul>
			
			Links: 
			<ul>
			<% @links[tag.name].each do |l| %>					
				<li>
					<%= l.quantity %> -- <a href="<%= l.url %>"><%= l.url %></a>
				</li>
			<% end%>
			</ul>
			<hr />
		<% end %>
	</body>
</html>