<li>
	<a target="blank" href="http://www.twitter.com/<%=tweet.user.twitter_id%>">
    <img src='<%= image_url_of(tweet.user) %>' style="width:48px; height:48px;">
  </a>
  <p style="min-height:100px;">
	<span class='tweet_text'>
    	<a target="blank" href="http://www.twitter.com/<%=tweet.user.twitter_id%>"><%= tweet.user.twitter_id %></a> 
    	<%= raw(tweet.text) %>
	</span>
	<br/>
	<span class="twitter_time">
    	<a href='<%= "http://www.twitter.com/#{tweet.user.twitter_id}/status/#{tweet.tweet_id}"%>'><small>twittado em <%= tweet.date.strftime('%d/%m/%Y %H:%M') %></small></a>
	</span>
  </p>
</li>
